name: Build and Test HelloWorld C++

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-test:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4

    - name: Setup MSBuild
      uses: microsoft/setup-msbuild@v2

    - name: Build solution
      run: msbuild HelloWorld.sln /p:Configuration=Release /p:Platform=x64 /p:OutDir=build\

    - name: List test platform
      run: dir "C:\Program Files\Microsoft Visual Studio\2022\Enterprise\Common7\IDE\Extensions\TestPlatform"

    - name: Run MSTest
      shell: powershell
      run: |
        $vstest = "C:\Program Files\Microsoft Visual Studio\2022\Enterprise\Common7\IDE\Extensions\TestPlatform\vstest.console.exe"
        $testDll = "HelloWorldTests\build\HelloWorldTests.dll"
        & $vstest $testDll

